<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.isb.simple.gmfmap.diagram">
         <propertyTab
               category="extra"
               id="property.tab.domain.figure.background"
               label="%propertyTab.label.0">
         </propertyTab>
         <propertyTab
               category="extra"
               id="property.tab.domain.figure.foreground"
               label="%propertyTab.label.1">
         </propertyTab>
         <propertyTab
               category="extra"
               id="property.tab.domain.figure.label"
               label="%propertyTab.label.2">
         </propertyTab>
         <propertyTab
               category="extra"
               id="property.tab.domain.figure.connection"
               label="%propertyTab.label.3">
         </propertyTab>
         <propertyTab
               category="extra"
               id="property.tab.domain.figure.size1"
               label="%propertyTab.label.4">
         </propertyTab>
         <propertyTab
               category="extra"
               id="property.tab.domain.figure.size2"
               label="%propertyTab.label.5">
         </propertyTab>
         <propertyTab
               category="extra"
               id="property.tab.domain.figure.size3"
               label="%propertyTab.label.6">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.isb.simple.gmfmap.diagram">
         <propertySection
               class="com.isb.simple.gmfmap.diagram.properties.figure.FigureBackgroundPropertiesSection"
               filter="com.isb.simple.gmfmap.diagram.properties.figure.FigureBackgroundPropertiesSection"
               id="property.section.background"
               tab="property.tab.domain.figure.background">
         </propertySection>
         <propertySection
               class="com.isb.simple.gmfmap.diagram.properties.figure.FigureForegroundPropertiesSection"
               filter="com.isb.simple.gmfmap.diagram.properties.figure.FigureForegroundPropertiesSection"
               id="property.section.foreground"
               tab="property.tab.domain.figure.foreground">
         </propertySection>
         <propertySection
               class="com.isb.simple.gmfmap.diagram.properties.figure.FigureLabelPropertiesSection"
               filter="com.isb.simple.gmfmap.diagram.properties.figure.FigureLabelPropertiesSection"
               id="property.section.label"
               tab="property.tab.domain.figure.label">
         </propertySection>
         <propertySection
               class="com.isb.simple.gmfmap.diagram.properties.FigureConnectionPropertiesSection"
               filter="com.isb.simple.gmfmap.diagram.properties.FigureConnectionPropertiesSection"
               id="property.section.connection"
               tab="property.tab.domain.figure.connection">
         </propertySection>
         <propertySection
               class="com.isb.simple.gmfmap.diagram.properties.figure.FigureMinimumSizePropertiesSection"
               filter="com.isb.simple.gmfmap.diagram.properties.figure.FigureMinimumSizePropertiesSection"
               id="property.section.size1"
               tab="property.tab.domain.figure.size1">
         </propertySection>
         <propertySection
               class="com.isb.simple.gmfmap.diagram.properties.figure.FigureMaximumSizePropertiesSection"
               filter="com.isb.simple.gmfmap.diagram.properties.figure.FigureMaximumSizePropertiesSection"
               id="property.section.size2"
               tab="property.tab.domain.figure.size2">
         </propertySection>
         <propertySection
               class="com.isb.simple.gmfmap.diagram.properties.figure.FigurePreferedSizePropertiesSection"
               filter="com.isb.simple.gmfmap.diagram.properties.figure.FigurePreferedSizePropertiesSection"
               id="property.section.size3"
               tab="property.tab.domain.figure.size3">
         </propertySection>
      </propertySections>
   </extension>

</plugin>
