<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="gmf.codegen.ui.transformToGenModelFile"
            nameFilter="*.simplemappings"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="com.isb.simple.gmf.bridge.transform.TransformToGenModelAction"
               enablesFor="1"
               id="simple.gmf.bridge.ui.transformToGenModelFileAction"
               label="%action.label"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>

</plugin>
