<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.setting_delegate">
      <factory
            class="org.msl.simple.gmfmap.simplemapping.setting.SimpleMappingSettingDelegateFactory"
            uri="org.msl.simple.gmfmap.simplemapping.setting">
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.invocation_delegate">
      <factory
            class="org.msl.simple.gmfmap.model.delegates.SimpleMappingInvocationDelegateFactory"
            uri="org.msl.simple.gmfmap.simplemapping.invocation">
      </factory>
   </extension>

</plugin>
